@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

#curve{
    position: absolute;
    height: 100%;
    width: 100%;
}

.a, .b{
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.a {
    stroke-dasharray: 200%;
    stroke-dashoffset: 200%;
}

.b {
    stroke-dasharray: 50%;
    stroke-dashoffset: 50%;
}

.a {
    animation-name: draw;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.b {
    animation-name: draw;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}